:root{
    --corUm: #074F57;
    --corDois: #074F57;
    --corTres: #74A57F;
    --corQuatro: #9ECE9A;
    --corCinco: #074F57;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.videoBackground{
    width: 1920px;
    height: 1080px;
    position: fixed;
    z-index: -1;
}

.mainContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,250,0.5);
}

.content{
    width: 500px;
    height: 500px;
    background-color: red;
}

.containerOne{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerTwo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerThree{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}