/* Background e Configuração Geral */
:root{
    --corUm: #074F57;
    --corDois: #074F57;
    --corTres: #74A57F;
    --corQuatro: rgb(158, 206, 154);
    --corCinco: rgb(7, 79, 87);
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #074F57;
}

table{
    margin-bottom: 500px;
}