/* Background e Configuração Geral */
:root{
    --corUm: #074F57;
    --corDois: #074F57;
    --corTres: #74A57F;
    --corQuatro: rgb(158, 206, 154);
    --corCinco: rgb(7, 79, 87);
}

*{
    overflow-x: hidden;
}

main{
    background-image: url(assets/background.jpg);
    background-size: cover;
    background-position: 70%;
}